body {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    padding: 54px 0 54px 0;
    font-size: 36px;
    line-height: 42px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.header__line {
    width: 170px;
    border: 1px solid #EC7979;
    background-color: #EC7979;
    margin: auto;
}

.header__slogan {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 40px;
}

.awesome__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 110px;
}

.awesome__reasons {
    width: 369px;
}

.awesome__reasons p:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0 34px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-top: 39px;
}

.awesome__reasons p:nth-of-type(2) {
    font-size: 18px;
    line-height: 21px;
    margin: 8px auto 58px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options {
    background: #F5F5F5;
}

.options__offers {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}

.options__offers__price {
    margin-bottom: 50px;
    width: 370px;
    text-align: center;
}

.options__offers__price_up {
    margin-top: -20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));;
}

.options__offers__price p:nth-of-type(1) {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 11.5px 0 11.5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options__offers__price p:nth-of-type(2) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 27px 0 27px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options__offers__price p:nth-of-type(3) {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
    padding: 12.5px 0 12.5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options__price__pack li {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    padding: 12.5px 0 12.5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers__reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    margin-bottom: 64px;
}

.customers__item__comment {
    width: 370px;
    padding: 37.5px 0 37.5px 0;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    position: relative;
}

.customers__item__comment::after {
    content: "";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    position: absolute;
    left: 70px;
    top: 180px;
}

.customers__item__people {
    display: flex;
    margin-top: 66px;
}

.customers__people__who {
    margin-left: 30px;
}

.customers__people__photo {
    width: 70px;
    height: 70px;
}

.customers__people__who p:first-child {
    width: 269px;
    padding: 10.5px 0 10.5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
}

.customers__people__who p:last-child {
    width: 270px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

