.container {
    width: 1170px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.awesome__header__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.awesome__header__line {
    width: 170px;
    border: 1px solid #EC7979;
    background-color: #EC7979;
    margin: auto;
}

.awesome__header__slogan {
    font-size: 18px;
    line-height: 21px;
    text-align: center; 
    color: #86878B;  
    margin-top: 40px;
}

.awesome__content {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 110px;
}

.awesome__reasons {
    width: 369px;
}

#center {
    margin: 0 30px;
}

.awesome__reasons__icon {
    text-align: center;  
}

.awesome__reasons__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 39px 0px 0px 0px;
}

.awesome__reasons__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 8px auto 58px auto; 
}



.options {
    background: #F5F5F5;
    padding-top: 50px;
}

.options__header {
    margin-bottom: 79px;
    text-align: center;
}

.options__header__title {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    line-height: 42px;
}

.options__header__line {
    width: 170px;
    border: 1px solid #EC7979;
    background-color: #EC7979;
    margin: auto;
}

.options__header__slogan {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 40px;
}

.options__offers {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.options__offers__price {
    margin: auto;
    margin-bottom: 50px;
    width: 370px;
    text-align: center;
}

#up {
    margin: -20px 30px 0px 30px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));;
}

.options__price__kind {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.options__price__money {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.options__pack__title {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    border: 2px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.options_pack_include {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.customers__header__title {
    height: 150px;
    font-size: 36px;
    font-weight: 400px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.customers__header__line {
    width: 170px;
    background-color: #EC7979;
    border: 1px solid #EC7979;
    margin: auto;
}

.customers__header__text {
    font-size: 18px;
    font-weight: 400px;
    line-height: 21px;
    color: #86878B;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px; 
}

.customers__reviews {
    display: flex;
    margin-top: 83px;
    margin-bottom: 64px;
}

#middle {
    margin: 0 30px;
}

.customers__item__comment {
    width: 370px;
    height: 180px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
}

.customers__item__polygon {
    margin-left: 70px;
}

.customers__item__people {
    display: flex;
    margin-top: 46px;
}

.customers__people__who {
    margin-left: 30px;
}

.customers__people__photo {
    width: 70px;
    height: 70px;
}

.customers__who__name {
    Width: 269px;
    Height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
}

.customers__who__staff {
    width: 270px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

